<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551195161704-5hr907hnaq4h1tarri3lrqip7a94rm9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551195161704-5hr907hnaq4h1tarri3lrqip7a94rm9r</string>
	<key>API_KEY</key>
	<string>AIzaSyDH_ChC92lmoRNifFgSqKZRjcSKX4_ZhAo</string>
	<key>GCM_SENDER_ID</key>
	<string>551195161704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SamuelToh.CashApp</string>
	<key>PROJECT_ID</key>
	<string>cashapp-dffbf</string>
	<key>STORAGE_BUCKET</key>
	<string>cashapp-dffbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551195161704:ios:55632b58baf982c19437dd</string>
	<key>DATABASE_URL</key>
	<string>https://cashapp-dffbf.firebaseio.com</string>
</dict>
</plist>